@import "header";
@import "section_1";
@import "section_3";
@import "section_7";
@import "swiper";
@import "communities";
@import "footer";
@import "network/network";
@import "network/stack";
@import "ecosystem/ecosystem";
@import "token/token";
@import "homepage/section_2";
@import "homepage/studio_floor";
@import "homepage/wallet_floor";
@import "homepage/fuseswap_floor";
@import "homepage/fuse_ecosysyem";
@import "homepage/stats";
@import "shared/newsletter_form";
@import "about";
@import "navbar/navbar";

.site-wrapper {
  position: relative;
  display: block;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@include block(main_button) {
  padding: 1.125em 1.75em;
  font-size: 1em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: center;
  color: #052235;
  margin: 1em 0;
  border-radius: 100px;
  background-image: linear-gradient(124.98deg, #b3ffbb 6.71%, #fffb00 90%);

  &::after {
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 0.5em;
    width: 20px;
    height: 14px;
    display: inline-block;
    padding-left: 8px;
    vertical-align: -20%;
    content: "";
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  @include modifier(bold) {
    font-weight: 500;
  }


  @include modifier(no-arrow) {
    &::after {
      content: none;
    }
  }

  &:hover {
    background-image: unset;
    background-color: #f8ff00;

    &::after {
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      -ms-transform: translateX(4px);
      -o-transform: translateX(4px);
      transform: translateX(4px);
    }
  }
}


@include block(secondary_button) {
  padding: 1.125em 1.75em;
  font-size: 1em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: center;
  margin: 1em 0;
  color: white;
  border-radius: 100px;

  $border: 2px;
  border: solid $border white;
  
  position: relative;
  &:hover {
    border: solid $border transparent;
  }
  &:hover::before {
    content:"";
    position:absolute;
    top: -$border;
    left: -$border;
    right: -$border;
    bottom: -$border;
    border-radius: 100px;
    border: solid $border transparent;
    background: linear-gradient(89.89deg, #B5FFB7 0.93%, #F8F82B 100.96%); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
  }
}
