@include block(about_main) {
  background: linear-gradient(90deg, #051928 0%, #0a283e 100%);
  color: white;
  @include element(overlay) {
    padding-top: 6em;
  }

  @include element(content) {
    @include block(title) {
      text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.4);
      font-size: 2.5em;
      font-weight: 500;
    }

    @include block(text) {
      font-size: 1.125em;
      line-height: 26.8px;
    }
  }

  @include element(image) {
    justify-content: flex-end;
    position: relative;
  }
}

@include block(section_two) {
  padding: 5em 0px;

  @include element(wrapper) {
  }

  @include element(text) {
    font-size: 1.5em;
    line-height: 33.6px;
    font-weight: 500;
  }
}

@include block(section_three) {
  padding: 5em 0px;

  @include element(wrapper) {
  }

  @include element(text) {
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 500;
  }

  @include block(card) {
    @include element(content) {
      @include xy-grid(vertical, false);
      @include flex-align(center, middle);

      @include block(name) {
        padding-bottom: 0.5rem;
        color: #4a687b;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
      }

      @include block(icons) {
        padding-top: 0.5rem;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        @include block(linkedin) {
          padding-left: 9px;
          padding-bottom: 3px;
        }

        @include block(role) {
          font-size: 14px;
          line-height: 16px;
          color: #7a7a7a;
        }
      }
    }
  }

  @include block(title) {
    padding: 2em 0 3em;
    color: #4a687b;
    font-size: 1.875em;
    font-weight: 500;
    text-align: center;
  }
}

@include block(section_four) {
  padding-top: 5rem;
  padding-bottom: 4rem;
  padding-left: 5em;
  padding-right: 5em;
  background: #eef9ff;
  @include block(title) {
    color: #4a687b;
    font-size: 1.875em;
    font-weight: 500;
    padding-top: 40px;
    padding-right: 30px;

    @include breakpoint(medium down) {
      text-align: center;
      padding-right: 0px;
      font-size: 2.2em;
      font-weight: bold;
    }
  }

  @include element(image) {
    min-height: 144px;
    max-height: 150px;
    > img {
      object-fit: contain;
    }

    @include breakpoint(medium up) {
      min-height: 144px;
      max-height: 150px;
      width: 18.8% !important;
      > img {
        object-fit: contain;
      }
    }

    @include breakpoint(small down) {
      width: 100% !important;
      > img {
        object-fit: contain;
      }
    }

    @include element(container) {
      hr {
        border: 1px solid #dde8f0;
        margin-bottom: 50px;
      }
    }

    @include element(wrapper) {
      @include breakpoint(medium up) {
        display: flex;
      }
    }

    @include block(logos) {
      position: relative;
      @include element(overlay) {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #eef9ff;
        mix-blend-mode: color;
      }
      @include xy-cell();
      @include breakpoint(medium up) {
        @include xy-grid(horizontal);
        @include flex-align();
      }
    }
  }
}
