@include block(about_main) {
  @include breakpoint(medium up) {
    @include xy-grid();
    @include flex-align(null, middle);
  }
  @include breakpoint(medium down) {
    @include xy-grid(vertical);
    @include flex-align(justify, middle);
  }

  @include element(container) {
    @include xy-grid-container();
    width: 100%;
    @include breakpoint(medium up) {
      padding: 10em 0px;
    }
    @include breakpoint(medium down) {
      padding: 5em 20px;
    }
  }

  @include element(wrapper) {
    background-color: #f6fafe;
  }

  @include element(content) {
    @include block(title) {
      @extend %title;
      @include breakpoint(medium up) {
        font-size: 2.5em;
      }
      @include breakpoint(medium down) {
        margin: 1em 0;
      }
      // padding-bottom: 0.4em;
      // font-weight: bold;
    }

    @include block(text) {
      font-size: 1.125em;
      line-height: 26.8px;
    }
  }

  @include element(image) {
    // justify-content: flex-end;
    position: relative;
    @include breakpoint(medium down) {
      margin-top: 3em;
      > img {
        width: 329px;
      }
    }
    > img {
      max-height: 450px;
    }
  }
}

@include block(section_two) {
  padding: 5em 0px;

  @include breakpoint(medium up) {
    @include xy-grid(horizontal, false);
    @include flex-align(null, middle);
  }
  @include breakpoint(medium down) {
    @include xy-grid(vertical, false);
    @include flex-align(justify, middle);
  }

  @include element(container) {
    @include xy-grid-container();
    width: 100%;
  }

  @include element(wrapper) {
  }

  @include block(title) {
    @extend %title;
    font-size: 2.25em;
  }

  @include block(item) {
    @include xy-grid(horizontal, false);
    @include flex-align(center, middle);

    @include breakpoint(medium up) {
      @include xy-cell(4, null, 0);
    }

    @include breakpoint(medium down) {
      @include xy-cell(24, null, 0);
      padding: 2em 0;
    }

    > img {
      max-width: 120px;
      max-height: 64px;
    }
  }
}

@include block(section_three) {
  padding: 5em 0px;

  @include element(wrapper) {
    background-color: #f5f6fb;
  }

  @include element(container) {
    @include xy-grid-container();
    width: 100%;
  }
  @include element(text) {
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 500;
  }

  @include block(card) {
    @include element(content) {
      min-height: 300px;
      max-height: 300px;
      @include breakpoint(medium up) {
        @include xy-grid(vertical, false);
        @include flex-align(left, top);
      }
      @include breakpoint(medium down) {
        @include xy-grid(vertical, false);
        @include flex-align(left, middle);
      }
      > img {
        width: 193px;
        height: 193px;
      }

      @include block(name) {
        padding: 20px 0 0;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #4a687b;
        font-size: 16px;
        font-weight: 500;
      }

      @include block(linkedin) {
        padding-top: 5px;
        padding-bottom: 20px;
      }

      @include block(icons) {
        display: flex;
        align-items: center;

        @include block(role) {
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: normal;
          color: #4a687b;
        }
      }
    }
  }

  @include block(title) {
    @extend %title;
    margin-bottom: 1em;
  }
}

@include block(section_four) {
  padding: 3em 0px;

  @include breakpoint(medium up) {
    @include xy-grid(horizontal, false);
    @include flex-align(justify, middle);

    > div {
      max-width: 500px;
      @include xy-cell(12, null, 0);
    }
  }
  @include breakpoint(medium down) {
    @include xy-grid(vertical, false);
    @include flex-align(justify, middle);
  }

  @include element(container) {
    @include xy-grid-container();
    width: 100%;

    @include breakpoint(medium down) {
      padding: 20px;
    }
  }

  @include element(mission) {
    background-image: linear-gradient(102deg, #b1ffbf 7%, #fff16d 100%);
    opacity: 0.85;
    width: 100%;
  }

  @include element(wrapper) {
    @include xy-grid(vertical, false);
    @include flex-align(right, middle);
    height: 845px;
    background-image: url(/images/office_image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include block(title) {
    @extend %title;
    font-size: 2.25em;

    @include breakpoint(medium down) {
      margin-bottom: 2em;
    }
  }

  @include block(text) {
    @extend %title;
    font-weight: normal;
    font-size: 2.25em;
  }

  @include block(item) {
    @include xy-grid(horizontal, false);
    @include flex-align(center, middle);
    @include xy-cell(4, null, 0);

    > img {
      max-width: 120px;
      max-height: 64px;
    }
  }
}

@include block(hiring) {
  @include xy-grid(vertical, false);
  @include flex-align(center, middle);

  @include breakpoint(medium down) {
    text-align: center;
  }

  @include element(container) {
    @include xy-grid-container();
    width: 100%;
  }

  @include element(wrapper) {
    padding: 3em 0px;
  }

  @include block(title) {
    font-size: 33px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #37556a;
    padding-bottom: 1em;
  }

  @include block(text) {
    font-size: 1.313em;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.01px;
    color: #0065ff;
  }
}
