@include block(communities) {
  position: relative;
  padding: 3em 0;

  @include element(title) {
    @extend %main-title;
    margin: 1em 0;
  }
  @include breakpoint(1800px) {
    // min-height: 750px;
  }

  > img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 564px;
    object-fit: cover;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    @include breakpoint(medium up) {
      width: 50%;
    }

    @include breakpoint(medium down) {
      max-height: unset;
      bottom: 80px;
    }
  }

  @include block(opaque) {
    opacity: 1;
  }

  @include breakpoint(1980px) {
    background-size: 100% 100%;
  }

  @include element(pagination) {
    text-align: right;
    top: 38px;
    position: absolute;
    height: min-content;
    bottom: 0 !important;
    @include xy-grid-container();
    @include breakpoint(medium down) {
      display: none;
    }
    @include breakpoint(2000px) {
      top: 10px;
    }
    .swiper-pagination-bullet {
      width: 20px;
      height: 4px;
      border-radius: unset;
    }
  }

  @include element(content) {
    position: relative;
  

    @include breakpoint(xlarge down) {
      transform: scale(0.9);
    }

    @include breakpoint(large up) {
    }

    @include breakpoint(1980px) {
    }

    @include breakpoint(small only) {
    }

    @include breakpoint(medium down) {
      // width: 85%;
     
      max-width: 90%;
      margin: auto;
      transform: unset;
    }
  }

  @include element(items) {
    overflow: hidden;

    .swiper-container {
      position: unset !important;
    }

    @include block(community) {
      width: 100%;
      @include xy-grid();
      @include flex-align(justify, middle);

      @include breakpoint(medium down) {
        @include xy-grid(vertical);
        @include flex-align(justify, middle);
      }

      @include block(image) {
        @include xy-grid();
        position: relative;
        @include flex-align(null, null);
        > img {
          object-fit: contain;
        }
        @include breakpoint(medium up) {
          @include xy-cell(12, null, 0);
          // height: 630px;
          > img {
            min-width: 350px;
            min-height: 500px;
            // max-width: 350px;
            max-height: 500px;
          }
        }

        @include breakpoint(medium down) {
          @include xy-cell(24, null, 0);
          @include xy-grid();
          @include flex-align(center, middle);
          // margin-top: 3em;
          // margin-bottom: 2em;
          > img {
            min-height: 576px;
            max-height: 576px;
          }
        }
      }

      @include block(content) {
        > div {
          &:not(:last-child) {
            margin-bottom: 2em;
          }
        }

        @include breakpoint(medium up) {
          @include xy-grid(vertical);
          @include flex-align(center, top);
          @include xy-cell(10, null, 0);
        }
        @include breakpoint(medium down) {
          @include xy-cell(24, null, 0);
          margin-bottom: 3em;
        }

        @include element(metadata) {
          @include xy-grid(vertical);
          @include flex-align(left, top);
          @extend %text;
          color: #037aff;

          > div {
            &:not(:last-child) {
              margin-bottom: 1em;
            }
          }

          @include breakpoint(medium down) {
            height: 100px;
          }

          a {
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }

          @include block(link_icon) {
            @include xy-grid(horizontal, false);
            @include flex-align(null, middle);
            @include block(download) {
            }
            img {
              margin-right: 0.25em;
              width: 15px;
              height: 15px;
            }

            @include block(store) {
              width: auto;
              height: 22px;
            }
          }
        }

        @include element(logo) {
          // margin-bottom: 2em;
          // max-width: 200px;
          min-height: 125px;
          max-height: 125px;

          @include xy-grid();
          @include flex-align(null, middle);

          img {
            width: 100%;
            height: 100%;
          }
        }

        @include element(text) {
          @extend %text;
          max-width: 391px;
          // margin: 2em 0;

          @include breakpoint(medium down) {
            min-height: 200px;
            max-height: 200px;
          }
          @include breakpoint(large) {
          }
        }
      }
    }
  }

  @include element(button) {
    position: absolute;
    bottom: -30px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.06;
    letter-spacing: normal;
    color: #000000;

    @include breakpoint(medium down) {
      // bottom: -100px;
    }

    @include modifier(prev) {
      &::before {
        background-image: url(/images/arrow_back.png);
        background-repeat: no-repeat;
        background-position: left center;
        margin-left: 0.2em;
        width: 18px;
        height: 11px;
        display: inline-block;
        padding-left: 8px;
        content: ""; // arrow right unicode
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
      }

      &:hover {
        // background-image: unset;
        // background-color: #f8ff00;

        &::before {
          -webkit-transform: translateX(-4px);
          -moz-transform: translateX(-4px);
          -ms-transform: translateX(-4px);
          -o-transform: translateX(-4px);
          transform: translateX(-4px);
        }
      }

      left: 20px;

      @include breakpoint(medium down) {
        // display: none;
      }

      &:hover {
        // background-image: url(/images/back-hover.png);
      }
    }

    @include modifier(next) {
      &::after {
        background-image: url(images/arrow.png);
        background-repeat: no-repeat;
        background-position: left center;
        margin-left: 0.2em;
        width: 18px;
        height: 11px;
        display: inline-block;
        padding-left: 8px;
        content: ""; // arrow right unicode
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
      }

      &:hover {
        // background-image: unset;
        // background-color: #f8ff00;

        &::after {
          -webkit-transform: translateX(4px);
          -moz-transform: translateX(4px);
          -ms-transform: translateX(4px);
          -o-transform: translateX(4px);
          transform: translateX(4px);
        }
      }

      left: 480px;
      @include breakpoint(medium down) {
        right: 20px;
        left: unset;
        // display: none;
      }

      &:hover {
        // background-image: url(/images/next-hover.png);
      }
    }
  }

  @include block(title) {
    padding-bottom: 4em;
    @include block(powered) {
      @extend %subtitle;
      margin-bottom: 1em;
    }

    @include breakpoint(medium down) {
      padding-bottom: 1em;
    }
  }

  @include block(main-title) {
    @extend %title;
  }

  @include block(bg_images) {
    display: table-cell;
    vertical-align: middle;
  }

  @include element(background_img) {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  @include element(background_change) {
    div {
      animation-name: backgroundchangeFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 8s;

      -webkit-animation-name: backgroundchangeFadeInOut;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 8s;
    }
    div:nth-of-type(1) {
      animation-delay: 10s;
      -webkit-animation-delay: 10s;
    }
    div:nth-of-type(2) {
      animation-delay: 8s;
      -webkit-animation-delay: 8s;
    }
    div:nth-of-type(3) {
      animation-delay: 6s;
      -webkit-animation-delay: 6s;
    }
    div:nth-of-type(4) {
      animation-delay: 4s;
      -webkit-animation-delay: 4s;
    }
    div:nth-of-type(5) {
      animation-delay: 2s;
      -webkit-animation-delay: 2s;
    }
    div:nth-of-type(6) {
      animation-delay: 0;
      -webkit-animation-delay: 0;
    }
  }

  #back1 {
    background: url("http://www.placecage.com/500/700") no-repeat center fixed;
  }

  #back2 {
    background: url("http://www.placecage.com/500/600") no-repeat center fixed;
  }

  #back3 {
    background: url("http://www.placecage.com/500/500") no-repeat center fixed;
  }

  #back4 {
    background: url("http://www.placecage.com/500/800") no-repeat center fixed;
  }

  #back5 {
    background: url("http://www.placecage.com/500/900") no-repeat center fixed;
  }
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
