@include block(footer) {
	height: 100%;
	max-width: 600px;
	margin: auto;

	> div {
		&:not(:last-child) {
			margin-bottom: 3em;
		}
		@include breakpoint(medium down) {
			align-self: baseline;
		}
	}

	@include xy-grid(vertical);
	@include flex-align(justify, middle);
	@include element(wrapper) {
		padding: 4em;
		@include breakpoint(medium down) {
			padding: 4em 20px;
		}
		background: linear-gradient(180deg, #002740 0%, #001929 100%);
		position: relative;

		// @include modifier(dark) {
		// 	background-color: #001929;
		// }
	}

	@include element(container) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	@include element(link) {
		text-decoration: none;
		font-size: 0.938em;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #0a2f40;

		&:not(:last-child) {
			margin-right: 3em;
		}

		@include modifier(white) {
			color: white;
			&:hover {
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}

	@include element(icons) {
		@include breakpoint(medium down) {
			// margin: 2em 0;
		}
	}

	@include element(icon) {
		cursor: pointer;
		> img {
			height: 47px;
			width: 47px;
		}
	}

	@include block(image) {
		height: 47px;
		width: 47px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		@include breakpoint(small only) {
			height: 35px;
			width: 35px;
		}
	}

	@include block(twitter) {
		// background-image: url(/images/twitter_white.svg);
		&:hover {
			// background-image: url(/images/twitter_footer_hover.svg);
		}
	}

	@include block(github) {
		// background-image: url(/images/github_white.svg);
		&:hover {
			// background-image: url(/images/git_footer_hover.svg);
		}
	}

	@include block(medium) {
		// background-image: url(/images/medium_white.svg);
		&:hover {
			// background-image: url(/images/med_footer_hover.svg);
		}
	}

	@include block(discord) {
		// background-image: url(/images/discord.svg);
		&:hover {
			// background-image: url(/images/discord_footer_hover.svg);
		}
	}

	@include block(telegram) {
		// background-image: url(/images/tele.svg);
		&:hover {
			// background-image: url(/images/telegram_footer_hover.svg);
		}
	}

	@include element(wallet) {
		width: 200px;
		height: 40.4px;
		border-radius: 20.2px;
		border: solid 1.3px rgba(5, 34, 53, 0.18);
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		> span {
			color: #05283e;
			font-size: 0.938em;
		}

		@include element(icon) {
			width: auto;
			height: 23px;
		}
	}

	@include element(nav) {
		margin-left: auto;
		display: flex;
		justify-content: center;
		color: #0a2f40;
		font-size: 0.938em;
	}

	@include element(logo) {
		width: 125px;

		@include element(wrapper) {
			display: flex;
			align-items: center;

			> span {
				margin-left: 10px;
				color: white;
				font-size: 0.813em;
				font-weight: 500;
			}
		}
	}

	@include element(item) {
	}

	@include element(sign) {
		position: relative;
		@include block(title) {
			font-size: 1.1em;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: white;
			margin-bottom: 0.4em;
		}

		@include block(error) {
			position: absolute;
			bottom: -1.5em;
			color: red;
		}

		@include block(input) {
			max-width: 299px;
			height: 54px;
			border-radius: 10px;
			border: solid 1px rgba(151, 151, 151, 0.35);
			background-color: #ffffff;
			color: #052235;
			padding: 10px;
			border: 1.5px solid transparent;

			&:focus {
				border: 1.5px solid #ccd9e0;
			}

			&:disabled {
				opacity: 0.7;
				cursor: not-allowed;
			}
		}

		@include block(button) {
			padding: 18px;
			max-width: 105px;
			margin-left: 1em;
			border-radius: 10px;
			background: $color-fuse_gradient;

			&:hover {
				background: #fae83e;
				cursor: pointer;
			}

			&:disabled {
				opacity: 0.7;
				cursor: not-allowed;
			}
		}
	}

	@include element(copyright) {
		color: white;
		margin: 2em 0 1em;
	}
}

@include block(links) {
	@include breakpoint(medium up) {
		@include xy-grid();
		@include flex-align(spaced, middle);
	}
	@include breakpoint(medium down) {
		@include xy-grid();
		@include flex-align(null, middle);
	}

	@include element(item) {
		@include flex-align(null, middle);
		@include breakpoint(medium down) {
			@include xy-cell(12, null, 0);
			min-height: 50px;
		}
		font-size: 15px;
		line-height: 18px;
		color: #ffffff;
		font-weight: 500;
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
