@include block(footer) {
	height: 100%;
	width: 100%;

	@include element(wrapper) {
		padding: 5em 2em 2em;
		background: #071927;

		// @include modifier(dark) {
		// 	background-color: #001929;
		// }
	}

	@include breakpoint(medium down) {
		transform: unset;
	}

	@include element(container) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	@include element(link) {
		text-decoration: none;
		font-size: 0.938em;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #0a2f40;

		&:not(:last-child) {
			margin-right: 3em;
		}

		@include modifier(white) {
			color: white;
			&:hover {
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}

	@include element(icons) {

		align-items: flex-end;

		@include breakpoint(medium down) {
			align-items: flex-start;
		}

		@include element(title) {
			color: #8DA9BB;
			font-size: 18px;
			font-weight: 400;
			line-height: 24.8px;
			margin-bottom: 1.3333em;
		}

		@include element(images) {
			gap: 16px;
			@include breakpoint(medium down) {
				margin: 2em 0;
			}

			img {
				width: 48px;
				height: 48px;
			}
		}
	}

	@include element(icon) {
		cursor: pointer;
		&:hover {
			filter: brightness(0) invert(1);
		}
	}

	@include block(image) {
		height: 47px;
		width: 47px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		@include breakpoint(small only) {
			height: 35px;
			width: 35px;
		}
	}

	@include element(wallet) {
		width: 200px;
		height: 40.4px;
		border-radius: 20.2px;
		border: solid 1.3px rgba(5, 34, 53, 0.18);
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		> span {
			color: #05283e;
			font-size: 0.938em;
		}

		@include element(icon) {
			width: auto;
			height: 23px;
		}
	}

	@include element(defi) {
		height: 29px;
		border-radius: 14.5px;
		border: solid 1px #7b7b7b;
		width: 185px;
		max-width: 205px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-left: auto;
		margin-top: 1em;

		@include element(link) {
			text-decoration: none;
			width: 100%;
			font-size: 0.938em;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: white;
			&:hover {
				color: white;
			}
		}
	}

	@include element(nav) {
		margin-left: auto;
		display: flex;
		justify-content: center;
		color: #0a2f40;
		font-size: 0.938em;
	}

	@include element(logo) {
		width: 125px;
		margin-bottom: 1em;

		@include element(wrapper) {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			> span {
				margin-left: 10px;
				color: white;
				font-size: 0.813em;
				font-weight: 500;
			}
		}
	}


	@include element(sign) {
		position: relative;
		@include block(title) {
			font-size: 1.1em;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: white;
			margin-bottom: 0.4em;
		}

		@include block(error) {
			position: absolute;
			bottom: -1.5em;
			color: red;
		}

		@include block(input) {
			max-width: 299px;
			height: 54px;
			border-radius: 10px;
			border: solid 1px rgba(151, 151, 151, 0.35);
			background-color: #ffffff;
			color: #052235;
			padding: 10px;
			border: 1.5px solid transparent;

			&:focus {
				border: 1.5px solid #ccd9e0;
			}

			&:disabled {
				opacity: 0.7;
				cursor: not-allowed;
			}
		}

		@include block(button) {
			padding: 18px;
			max-width: 105px;
			margin-left: 1em;
			border-radius: 10px;
			background: $color-fuse_gradient;

			&:hover {
				background: #fae83e;
				cursor: pointer;
			}

			&:disabled {
				opacity: 0.7;
				cursor: not-allowed;
			}
		}
	}

	@include element(copyright) {
		color: white;
		margin: 2em 0 1em;
	}

	@include element(copy) {
		color: #8DA9BB;
		font-size: 15px;
		font-weight: 400;
		line-height: 16px;
		margin-top: 2.75em;
	}
}

@include block(links) {
	@include breakpoint(medium up) {
		@include xy-grid();
		@include flex-align(spaced, null);
	}
	@include breakpoint(large down) {
		gap: 2em;
		@include xy-grid();
		@include flex-align(flex-start, null);
	}
	@include breakpoint(medium down) {
		order: 3;
	}
	@include block(list) {
		@include element(container) {
		}

		@include element(title) {
			font-size: 1.125em;
			line-height: 25px;
			font-weight: 400;
			color: #8da9bb;
			margin-bottom: 1.3333em;
		}

		@include element(item) {
			font-size: 15px;
			line-height: 18px;
			color: #ffffff;
			font-weight: 400;
			&:hover {
				cursor: pointer;
				color: rgba(255, 255, 255, 0.6);

			}

			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}
}
