@include block(header) {
	@include xy-grid(horizontal, false);
	@include flex-align(justify, middle);
	min-height: 80px;
	width: 100%;

	@include element(wrapper) {
		@include xy-grid();
		padding: 0 20px;
		z-index: 100000;
		position: absolute;
		width: 100%;
		height: min-content;

		@include breakpoint(large up) {
			padding-left: 2em;
		}
	}
	@include element(logo) {
		cursor: pointer;
		@include xy-cell(shrink, null, 0);
		> img {
			width: 100px;
		}
	}

	@include element(icons) {
		display: flex;
		flex-direction: row;

		@include breakpoint(medium down) {
			margin-bottom: 2em;
		}
	}

	@include block(icon) {
		position: relative;

		@include breakpoint(medium down) {
		}
		height: 31px;
		width: 31px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		@include element(svg) {
			fill: #05283e;

			* path {
				fill: initial;
			}
		}

		@include block(drop) {
			@include modifier(show) {
				@include xy-grid();
			}

			display: none;
			position: absolute;
			right: 0;
			top: 40px;
			z-index: 1;
			position: absolute;
			display: none;
			@include flex-align(left, middle);
			min-width: 250px;
			width: max-content;
			height: auto;
			border-radius: 5px;
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
			background-color: $color-white;

			@include element(options) {
				list-style: none;
				position: relative;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				@include xy-grid(vertical);
				@include flex-align(spaced);
				cursor: initial;

				@include element(item) {
					width: 100%;
					height: 100%;
					padding: 10px;
					cursor: pointer;
					font-size: 0.938em;
					font-weight: 500;
					color: $color-primary-dark;
					&:hover {
						background-color: darken($color: white, $amount: 10%);
					}

					&:first-child {
						border-radius: 5px 5px 0 0;
					}

					&:last-child {
						border-radius: 0 0 5px 5px;
					}

					&:not(:last-child) {
						border-bottom: solid 1px #e2e2e2;
					}
				}
			}
		}
	}

	@include block(language) {
		// margin: 1em 0.5em;
		width: 32px;
		height: 32px;
		border-radius: 7px;
		color: $color-white;
		background-image: linear-gradient(to bottom, #143653, #0c131c 99%);
		@include xy-grid();
		@include flex-align(center, middle);
		> span {
			font-size: 0.938em;
			text-transform: capitalize;
			font-weight: 500;
		}

		@include modifier(white) {
			color: $color-dark;
			background-image: unset;
			background: $color-white;
		}
	}

	@include element(wallet) {
		cursor: pointer;
		width: 200px;
		height: 40.4px;
		border-radius: 20.2px;
		border: solid 1.3px rgba(5, 34, 53, 0.18);
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		&:hover {
			background-color: #05283e;

			span {
				color: white !important;
			}
		}

		@include modifier(yellow) {
			&:hover {
				background-color: #eef58c;

				span {
					color: black !important;
				}
			}
		}

		a {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 83%;
			text-decoration: none;
		}

		span {
			color: #05283e;
			font-size: 0.938em;
			padding-top: 1px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			letter-spacing: normal;
		}

		@include element(icon) {
			width: 23px;
			height: 23px;
			background-repeat: no-repeat;
		}
	}

	@include element(nav) {
		color: #0a2f40;
		font-size: 1em;

		@include xy-cell(auto, null, 0);

		@include breakpoint(medium down) {
			display: none;
		}

		@include element(open) {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 99;
			visibility: visible;
			background: #fff;
			flex-direction: column;
			justify-content: normal;
			padding: 0 0 60px;
			border-radius: 0 0 60px 60px;
			box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
		}
	}

	@include element(link) {
		text-decoration: none;
		font-size: 0.938em;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #083549;
		@include breakpoint(medium up) {
			margin-right: 1.3em;
		}
		&:hover {
			font-weight: bold;
			color: #063d53;
			text-decoration: underline;
		}

		@include breakpoint(medium down) {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}

		@include modifier(white) {
			@include breakpoint(medium up) {
				color: white;
				&:hover {
					font-weight: bold;
					color: white;
					text-decoration: underline;
				}
			}
		}

		@include modifier(selected) {
			text-decoration: underline;
		}

		@include element(wrapper) {
			@include xy-grid(horizontal);
			@include flex-align(center, middle);
			@include breakpoint(medium down) {
				// margin: 4em 0 2em;
				@include xy-grid(vertical);
			}
		}

		@include breakpoint(medium down) {
			font-size: 1.375em;
		}

		@include modifier(dark) {
			color: #083549;

			&:hover {
				color: #083549;
				text-decoration: underline;
			}
		}
	}
}

@include block(active) {
	.hamburger-button__top {
		-webkit-transform: translateY(11px) translateX(0) rotate(45deg);
		transform: translateY(11px) translateX(0) rotate(45deg);
		background: #000;
	}

	.hamburger-button__middle {
		opacity: 0;
		background: #000;
	}

	.hamburger-button__bottom {
		-webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
		transform: translateY(-11px) translateX(0) rotate(-45deg);
		background: #000;
	}
}

@include block(hamburger-button) {
	@include element(container) {
		@include breakpoint(large up) {
			display: none;
		}
		background-color: transparent;
		position: relative;
		flex: 0 0 auto;
		display: block;
		width: 25px;
		height: 25px;
		margin-left: auto;

		span {
			background: $color-dark;
			border: none;
			height: 3px;
			width: 23px;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.35s ease;
			cursor: pointer;
			&:nth-of-type(2) {
				top: 8px;
			}

			&:nth-of-type(3) {
				top: 16px;
			}
		}

		@include modifier(white) {
			span {
				background: white;
			}
		}

		&:hover {
			opacity: 0.7;
		}

		&:focus,
		:active {
			outline: none;
		}
	}

	@include element(top) {
	}

	@include element(middle) {
	}

	@include element(bottom) {
	}
}

@include block(mobile_menu) {
	width: 90%;
	border-radius: 11px;
	box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	padding: 2em;
	height: 95vh;
	overflow-y: auto;
	top: 20px;
	position: absolute;

	@include block(line) {
		width: 100%;
		height: 1px;
		background: #e0e0e0;
		margin: 1.5em 0;
	}

	@include block(list) {
		@include xy-grid(vertical);
		&:not(:last-child) {
			margin-bottom: 1.5em;
		}

		@include element(title) {
			font-size: 0.938em;
			font-weight: bold;
			color: #083549;
			padding-bottom: 1em;
		}
		@include element(item) {
			@include xy-grid();
			@include flex-align(null, middle);
			@include block(icon) {
				width: 26px;
				height: 26px;
				margin-right: 1em;
			}
			padding-bottom: 1em;
			font-size: 0.813em;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #083549;
		}
	}
}
