@include block(section-A) {
  background-color: #031928;
  padding-top: 4em;
  @include element(container) {
    @include xy-grid(horizontal, false);
    @include flex-align(justify, middle);
  }

  @include element(wrapper) {
    padding: 1em 0;
    @include xy-grid-container();
    @include breakpoint(large down) {
      @include xy-grid-container(90%);
    }
  }

  @include element(launch__button) {
    width: 100%;
    height: 52px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: $color-dark;
    min-width: 270px;
    &:hover {
      background-color: #192d3d;
    }
    @include breakpoint(xlarge up) {
    }
    @include breakpoint(small only) {
      height: 42px;
    }

    > span {
      height: 24px;
      font-size: 1.125em;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;

      @include breakpoint(medium down) {
        font-size: 14.4px;
      }
    }
  }

  @include block(buttons) {
    width: 100%;
    margin-top: 1em;
  }

  @include block(main_title) {
    font-size: 2.813em;
    font-weight: bold;
    color: white;

    @include breakpoint(medium up) {
      max-width: 500px;
    }

    @include breakpoint(medium down) {
      margin-bottom: 1em;
      font-size: 2.313em;
    }
  }

  @include block(canvas) {
    @include breakpoint(medium down) {
      display: none;
    }
    @include xy-cell(auto, null, 0);
    canvas {
      min-width: 650px;
      max-width: 700px;
      min-height: 650px;
      max-height: 700px;
      @include breakpoint(1600px) {
        min-width: 800px;
        max-width: 800px;
        min-height: 800px;
        max-height: 800px;
      }
      @include breakpoint(large down) {
        min-width: 500px;
        max-width: 500px;
        min-height: 500px;
        max-height: 500px;
      }
    }
  }

  @include element(main) {
    @include breakpoint(medium up) {
      @include xy-cell(shrink, null, 0);
    }

    @include breakpoint(medium down) {
      @include xy-cell(24, null, 0);
    }
  }

  @include element(text) {
    line-height: 1.56;
    color: white;
    @include breakpoint(large down) {
      font-size: 1em;
    }
    @include breakpoint(large) {
      font-size: 1.125em;
    }
    @include breakpoint(small only) {
      font-size: 1.125em;
    }
  }

  @include element(notification-text) {
    text-decoration: underline;
  }

  @include element(arrow) {
    margin-left: 0.25em;
    > img {
      transition: all 0.1s ease-out;
    }
  }

  @include element(image) {
    > div {
      position: relative;
      z-index: 5;
    }

    > canvas {
      height: 700px;
      width: 100%;
    }
  }
}
