@include block(section-A) {
  width: 100%;
  position: relative;
  background-image: $color-fuse_gradient;

  @include element(overlay) {
    position: relative;
    min-height: 600px;
    height: calc(100vh - 200px);

    @include breakpoint(medium up) {
      @include xy-grid(horizontal, false);
      > div {
        @include xy-cell(12, null, 0);
      }
    }

    @include breakpoint(medium down) {
      @include xy-grid(vertical, false);
      height: calc(100vh - 400px);
      > div {
        @include xy-cell(24, null, 0);
      }
    }

    @include breakpoint(small only) {
      height: calc(100vh - 400px);
    }

    @include breakpoint(1600px up) {
      height: calc(100vh - 200px);
    }

    @include breakpoint(768px) {
      height: calc(100vh - 300px);
    }
  }

  @include element(wrapper) {
    @include breakpoint(medium up) {
      @include xy-grid(vertical);
      @include flex-align(center, start);
      padding-left: 2em;
    }

    @include breakpoint(medium down) {
      @include xy-grid(vertical);
      @include flex-align(center, middle);
      padding: 0 1em 4em;
    }
    @include breakpoint(medium only) {
      margin: 0;
      @include flex-align(left, top);
    }

    @include breakpoint(small only) {
      max-width: 90%;
    }

    @include breakpoint(1700px) {
      max-width: 60%;
    }

    @include breakpoint(2100px) {
      margin-top: 10em;
    }
  }

  @include element(launch__button) {
    @include breakpoint(xlarge up) {
      min-width: 230px;
    }
    width: 100%;
    height: 52px;
    cursor: pointer;
    border: none;
    border-radius: inherit;
    border-radius: 10px;

    @include breakpoint(small only) {
      height: 42px;
    }

    > span {
      height: 24px;
      font-size: 1.125em;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;

      @include breakpoint(medium down) {
        font-size: 14.4px;
      }
    }

    @include modifier(blue) {
      background-color: #25435a;

      > span {
        color: #ffffff;
      }

      &:hover {
        background-color: #192d3d;
      }
    }

    @include modifier(transparent) {
      @include breakpoint(large up) {
        margin-left: 1em;
      }
      background-color: transparent;

      &:hover {
        background-color: rgba(37, 67, 90, 0.15);
      }

      > span {
        color: #25435a;
      }
    }
  }

  @include block(buttons) {
    margin-top: 1em;
  }

  @include block(main_title) {
    font-size: 1.875em;
    font-weight: bold;
    line-height: 1.39;
    letter-spacing: -0.16px;
    color: #25435a;

    @include breakpoint(xlarge down) {
      font-size: 1.5em;
    }

    @include breakpoint(small down) {
      font-size: 1em;
    }
  }

  @include element(news) {
    color: #052741;
    margin-bottom: 4em;
    @include breakpoint(700px down) {
      margin: 2em 0;
    }
    > img {
      width: 60px;
    }


    @include block(arrow) {
      margin-left: 0.3em;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include element(main) {
    position: relative;
    @include element(title) {
      font-size: 2.25em;
      font-weight: bold;
      line-height: 1.39;
      letter-spacing: -0.16px;
      color: #052741;
    }
  }

  @include element(text) {
    @include breakpoint(large down) {
      font-size: 1em;
    }
    @include breakpoint(large) {
      font-size: 1.125em;
    }
    @include breakpoint(small only) {
      font-size: 0.875em;
    }
    margin-bottom: 2em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: $color-gray;
  }

  @include element(notification-text) {
    text-decoration: underline;
  }

  @include element(arrow) {
    margin-left: 0.25em;
    > img {
      transition: all 0.1s ease-out;
    }
  }

  @include element(image) {
    @include breakpoint(800px up) {
      position: relative;
    }
    display: block;
    width: 50%;
    height: auto;

    > div {
      position: absolute;
      right: -30px;
      z-index: 5;
      bottom: -63px;

      @include breakpoint(medium down) {
        width: 100%;
      }

      @include breakpoint(small only) {
        right: 0;
      }

      @include breakpoint(1333px) {
        bottom: -80px;
      }
      @include breakpoint(1700px) {
        bottom: -85px;
        right: -10px;
      }

      @include breakpoint(1900px) {
        bottom: -116px;
      }
    }
  }
}
