@include block(section-C) {
	position: relative;

	@include breakpoint(2000px) {
		min-height: 40vh;
	}
	@include element(container) {
		@include xy-grid-container();	
	}

	@include element(wrapper) {
		padding: 10em 0;
		background-image: linear-gradient(247deg, #f5f6fb, #fafafa);
		@include breakpoint(xlarge down) {
		}
	
		@include breakpoint(medium down) {
			padding: 5em 0;
		}
	}
	@include element(swiper) {
		> div {
			&:first-child {
				position: unset;
				margin: 0;
				overflow: visible;
			}

			.swiper-slide {
				border-radius: 10px;
				box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.3);
				background-color: #ffffff;
			}
		}
		@include breakpoint(large) {
			display: none;
		}
	}
	@include element(content) {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@include block(item) {
			display: flex;
			flex-flow: column wrap;

			@include breakpoint(medium down) {
				margin-bottom: 3em;
			}
		}

		@include breakpoint(medium down) {
			flex-direction: column;
			// width: 85%;
		}

		@include element(item) {
			display: flex;
			flex-flow: column wrap;
			width: 30%;
		}
	}
	@include element(title) {
		@extend %title;
		margin-bottom: 1em;
	}
	@include element(text) {
		@extend %text;
		@include breakpoint(xlarge up) {
			width: 251px;
		}
	}
	@include element(read-more) {
		min-width: 170px;
		font-size: 1.25em;
		font-weight: 500;
		color: $color-light-dark;

		&:hover {
			background-color: #052235;
		}
	}
}
@include block(section-link) {
	background-color: $color-light-dark;
	background-repeat: no-repeat;
	background-position-x: 92%;
	background-position-y: center;
	width: 9em;
	border-radius: 10px;
	padding: 0.6em 1em;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	font-size: 1.25em;
}

@include block(blogs) {
	@include element(wrapper) {
		@include breakpoint(medium down) {
			display: none;
		}
	}
}

@include block(item) {
	@include element(post) {
		width: 28%;
		border-radius: 10px;
		box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.3);
		background-color: #ffffff;
		cursor: pointer;

		&:hover {
			background-color: #f5f5f5;
		}

		@include breakpoint(xlarge up) {
			max-height: 380px;
		}

		@include breakpoint(medium down) {
			width: 100%;
			height: 100%;
		}

		@include element(image) {
			position: relative;
			padding-bottom: 56.2%;

			> img {
				object-fit: fill;
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 10px 10px 0 0;
			}
		}

		@include element(content) {
			display: flex;
			flex-flow: column nowrap;
			padding: 1em;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			color: #a4a4a4;

			> span {
				font-weight: 500;
				line-height: 1.83;
				font-size: 1em;
				color: $color-gray;
			}

			> p {
				font-size: 1.125em;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.33;
				letter-spacing: normal;
				color: #a4a4a4;
			}

			@include block(chips) {
				width: 129px;
				height: auto;
				border-radius: 15px;
				background-color: #ffdfd7;
				display: block;
				padding: 4px;
				margin: 0.2em 0 0.8em;
				text-align: center;

				> span {
					font-size: 0.9em;
					color: $color-gray;
				}
			}

			@include block(title) {
				font-weight: 500;
				font-size: 0.9em;
				color: $color-gray;
				margin: 0.3em 0 0.5em;
			}
		}
	}
}
