@include block(section-A) {
  background-color: #031928;
  @include element(container) {
    @include xy-grid(horizontal, false);
    @include flex-align(justify, middle);

    @include breakpoint(medium down) {
      padding-top: 4em;
      @include xy-grid(vertical, false);
      @include flex-align(justify, middle);
    }
  }

  @include element(wrapper) {
    padding: 5em 0 1em 0;
    @include xy-grid-container();
  }

  @include element(launch__button) {
    width: 100%;
    height: 52px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: $color-dark;
    min-width: 270px;
    &:hover {
      background-color: #192d3d;
    }
    @include breakpoint(xlarge up) {
    }
    @include breakpoint(small only) {
      height: 42px;
    }

    > span {
      height: 24px;
      font-size: 1.125em;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;

      @include breakpoint(medium down) {
        font-size: 14.4px;
      }
    }
  }

  @include block(buttons) {
    @include xy-grid(horizontal, false);
    @include flex-align(left, middle);
    font-weight: 500;
    margin-top: 2em;
    column-gap: 1em;

    > a {
      @include xy-cell(shrink, null, 0);
      @include breakpoint(large up) {
        min-width: 250px;
      }

      @include breakpoint(small only) {
        padding: 1.125em 1.175em;
      }
    }
  }

  @include block(canvas) {
    position: relative;
    @include xy-cell(auto, null, 0);
  }

  @include element(main) {
    margin-bottom: 5em;
    // position: relative;
    @include breakpoint(medium up) {
      @include xy-cell(auto, null, 0);
    }

    @include breakpoint(medium down) {
      @include xy-cell(24, null, 0);
    }

    @include block(main_title) {
      font-size: 3.7em;
      font-weight: bold;
      color: white;
      // position: absolute;
      white-space: nowrap;

      @include breakpoint(medium down) {
        font-size: 2em;
      }

      > a {
        display: block;
      }
    }
  }

  @include element(text) {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 1.500em;
    @include breakpoint(large down) {
      font-size: 1em;
    }
    @include breakpoint(small only) {
      font-size: 1.125em;
    }
  }
}

@include block(Card_div) {
  position: absolute;
  background: white;
  display: none;
  font-size: 11px;
  padding: 10px;

  img {
    width: 32px;
    height: 32px;
    margin-right: 3px;
  }
  label {
    font-size: 16px;
    * {
      font-weight: bold;
    }
    // * {
    //   font-weight: normal;
    // }
  }

  p {
    margin: 2px 0 0 0;
    font-size: 16px;
    color: #000000;
    * {
      font-weight: 500;
    }
  }
}
