@include block(contact-us) {
  padding: 2em 0px 6em;
  background-color: #f5f6fb;

  @include element(wrapper) {
    position: relative;
    @include xy-grid-container();
  }

  @include element(newsletter) {
    position: relative;

    @include breakpoint(medium down) {
      margin-bottom: 4em;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      height: 180px;
      width: 2px;
      background-color: #e9e9e9;

      @include breakpoint(medium down) {
        display: none;
      }
    }
  }

  @include element(title) {
    @extend %title;
    margin: 0 0 2em;
  }

  @include element(subtitle) {
    @extend %main-title;
    font-size: 1.375em;
    color: $color-light-dark;
    margin: 1em 0 1em;
  }

  @include element(text) {
    @extend %text;
    width: 460px;
    max-width: 100%;
    margin-bottom: 1.5em;
  }

  @include element(button) {
    padding: 18px 28px;
    color: $color-dark;
    background: $color-fuse-gradient;
    border-radius: 10px;
    font-weight: 500;

    &:hover {
      background: #fae83e;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  @media print, screen and (max-width: 63.99875em) {
    .newsletter__form__button {
      margin-top: 0px;
    }
  }
  @include element(arrow) {
    margin-left: 0.25em;
  }
}
