@include block(section-A) {
  background-color: #031928;
  // background-image: $color-fuse_gradient;
  padding-top: 4em;
  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   background: #eff8ff;
  //   bottom: 0;
  //   @include breakpoint(xxlarge up) {
  //     height: 19%;
  //   }
  //   @include breakpoint(medium up) {
  //     height: 20%;
  //   }
  //   @include breakpoint(medium down) {
  //     height: 13%;
  //   }

  //   @include breakpoint(small down) {
  //     height: 8%;
  //   }
  // }

  @include element(container) {
    @include xy-grid(horizontal, false);
    @include flex-align(justify, null);
  }

  // @include breakpoint(medium up) {
  //   @include xy-grid(horizontal, false);
  //   > div {
  //     @include xy-cell(12, null, 0);
  //   }
  // }

  // @include breakpoint(medium down) {
  //   @include xy-grid(vertical, false);
  //   > div {
  //     @include xy-cell(24, null, 0);
  //   }
  // }

  @include element(wrapper) {
    padding: 0em 0;
    @include xy-grid-container();
  
 
   
    // @include breakpoint(medium up) {
    //   @include xy-grid(vertical);
    //   padding-left: 2em;
    // }

    // @include breakpoint(medium down) {
    //   @include xy-grid(vertical);
    //   @include flex-align(center, middle);
    //   padding: 0 1em 4em;
    // }
    // @include breakpoint(medium only) {
    //   margin: 0;
    //   @include flex-align(left, top);
    // }

    // @include breakpoint(xlarge up) {
    //   // @include flex-align(center, top);
    // }
  }

  @include element(launch__button) {
    width: 100%;
    height: 52px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: $color-dark;
    min-width: 270px;
    &:hover {
      background-color: #192d3d;
    }
    @include breakpoint(xlarge up) {
    }
    @include breakpoint(small only) {
      height: 42px;
    }

    > span {
      height: 24px;
      font-size: 1.125em;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;

      @include breakpoint(medium down) {
        font-size: 14.4px;
      }
    }
  }

  @include block(buttons) {
    width: 100%;
    margin-top: 1em;
  }

  @include block(main_title) {
    font-size: 2.813em;
    font-weight: bold;
    color: white;

    @include breakpoint(medium up) {
      max-width: 500px;
    }
    
    @include breakpoint(medium down) {
      margin-bottom: 1em;
      font-size: 2.313em;
    }

    // @include breakpoint(small down) {
    //   font-size: 3em;
    //   font-weight: bold;
    //   font-stretch: normal;
    //   font-style: normal;
    //   line-height: normal;
    //   letter-spacing: 0.02px;
    // }
  }

  @include block(canvas) {
    @include breakpoint(medium down) {
      display: none;
    }
    @include xy-cell(auto, null, 0);
    canvas {
      min-width: 800px;
      min-height: 800px;
      max-width: 800px;
      max-height: 800px;
    }
  }

  @include element(main) {
    // height: 70%;
    @include breakpoint(large up) {
      margin-top: 225px;
      @include xy-cell(shrink, null, 0);
      // @include xy-grid(horizontal, false);
      // > div {
      // }
    }

    @include breakpoint(medium down) {
      padding: 80px 15px;
      // @include xy-grid(vertical, false);
      @include xy-cell(24, null, 0);
      // > div {
      // }
    }
    // @include element(title) {
    //   font-size: 2.25em;
    //   font-weight: bold;
    //   line-height: 1.39;
    //   letter-spacing: -0.16px;
    //   color: white;
    //   // color: #052741;
    // }

    // @include breakpoint(medium up) {
    //   @include xy-grid(vertical);
    //   @include flex-align(center, top);
    // }

    // @include breakpoint(medium down) {
    //   @include xy-grid(vertical);
    //   margin: 2em 1em 0;
    // }
    // @include breakpoint(medium only) {
    //   margin: 0;
    //   @include flex-align(left, top);
    // }

    // @include breakpoint(1700px) {
    //   // max-width: 60%;
    // }
  }

  @include element(text) {
    line-height: 1.56;
    color: white;
    // color: $color-gray;
    @include breakpoint(large down) {
      font-size: 1em;
    }
    @include breakpoint(large) {
      font-size: 1.125em;
    }
    @include breakpoint(small only) {
      font-size: 1.125em;
    }
  }

  @include element(notification-text) {
    text-decoration: underline;
  }

  @include element(arrow) {
    margin-left: 0.25em;
    > img {
      transition: all 0.1s ease-out;
    }
  }

  @include element(image) {
    > div {
      position: relative;
      z-index: 5;
    }

    > canvas {
      height: 700px;
      width: 100%;
    }
  }
}
