@include block(steps) {
	@include element(wrapper) {
		padding-top: 10em;
		position: relative;
	}

	@include element(video) {
		margin-top: 2em;
	}

	@include element(watch) {
		color: #037aff;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	@include breakpoint(large) {
		// width: 80%;
		@include xy-grid(vertical);
		@include flex-align(null, middle);
	}
	@include breakpoint(medium down) {
		// width: 80%;
		max-width: 520px;
		margin: auto;
	}
	@include breakpoint(medium down) {
		@include xy-grid(vertical);
		@include flex-align(center, middle);
	}

	@include breakpoint(1600px up) {
		// max-width: 60%;
	}

	@include breakpoint(small only) {
		margin-top: 3em;
	}

	@include element(title) {
		text-align: center;
		margin: 0;
		@extend %main-title;

		@include breakpoint(large down) {
			font-size: 1.5em;
		}
	}

	@include block(items) {
		margin-top: 5em;
	}

	@include block(item) {
		@include xy-grid();
		@include flex-align(center, middle);
		@include element(image) {
			max-height: 250px;
		}

		@include element(content) {
			@include xy-grid(vertical);
			@include breakpoint(medium down) {
			}
		}

		@include element(title) {
			@extend %main-title;
			font-size: 1.375em;
			font-weight: 500;
			margin: 2em 0 1em;
		}

		@include element(text) {
			@extend %main-text;

			color: $color-gray;

			@include breakpoint(xlarge up) {
				width: 310px;
				height: 110px;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.steps .item__content {
		align-items: center;
		justify-content: center;
	}
}
