%main-title {
  font-size: 1.875em;
  color: $color-light-dark;
  font-weight: bold;
}

%main-text {
  font-size: 1.125em;
  color: $color-gray;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
}
