@include block(fuse_ecosysyem) {
  @include xy-grid-container();
  
  padding: 5em 0;
  position: relative;

  @include element(title) {
    @extend %title;
    max-width: 1180px;
    padding: 2em 0 3em;
    @include breakpoint(medium down) {
      // display: none;
      
    }
  }

  @include breakpoint(medium down) {
    padding: 20px 20px 3em;
  }

  @include element(items) {
    gap: 64px;
    @include block(item) {
      @include element(title) {
        @extend %secondary-title;
        text-align: center;
        margin-bottom: 2em;

        @include breakpoint(medium down) {
          padding: 5em 0;
          margin: 0;
        }
      }

      img {
        max-height: 100px;
        @include breakpoint(medium down) {
          // padding: 5em 0;
        }
      }
    }
  }

  @include element(logo-row) {
    width: 100%;
    justify-content: space-between;
    row-gap: 48px;
    @include breakpoint (medium down) {
      row-gap: 20px;
    }
  }
  @include element(logo-priority) {
      @include xy-grid();
      @include flex-align(center, middle);



    }
  @include element(logo-small) {
      @include xy-grid();
      @include flex-align(center, middle);
    }
}
