@include block(fuse_ecosysyem) {
  @include xy-grid-container();
  padding: 5em 0;
  position: relative;

  @include element(title) {
    @extend %title;
    padding: 2em 0 3em;
  }

  @include element(items) {
    @include block(item) {
      @include element(title) {
        @extend %secondary-title;
        text-align: center;
        margin-bottom: 2em;
      }

      img {
        max-height: 100px;
      }
    }
  }
}
