@include block(section_2) {
  @include xy-grid-container();
  padding: 5em 0px 8em;
  @include breakpoint(large down) {
    @include xy-grid-container(90%);
  }
  @include element(title) {
    @extend %title;
    padding: 2em 0;
  }

  @include breakpoint(medium down) {
    padding: 20px 20px 3em;
  }

  @include element(items) {
    @include breakpoint(medium up) {
      @include xy-grid();
      @include flex-align(justify, middle);
    }

    @include breakpoint(medium down) {
      @include xy-grid(vertical, false);
      @include flex-align(justify, middle);
    }

    @include block(item) {
      @include breakpoint(medium up) {
        @include xy-cell(7, null, 0);
      }

      @include breakpoint(medium down) {
        @include xy-cell(24, null, 0);
        @include xy-grid(vertical, false);

        &:not(:last-child) {
          margin-bottom: 5em;
        }
      }
      @include element(image) {
        width: 216px;
        height: 216px;
        margin-bottom: 2em;

        @include breakpoint(medium down) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      @include element(text) {
        @extend %text;

        > span {
          font-weight: 500;
          color: $color-black;
        }
      }

      @include element(title) {
        > img {
          width: 22px;
          height: 45px;
        }

        > h4 {
          @extend %secondary-title;
          margin-left: 0.5em;
        }
      }
    }
  }
}
