@include block(section_7) {
  background-color: #011833;
  height: 1500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/background.png);

  @include breakpoint(large up) {
    width: 100%;
  }

  @include breakpoint(small down) {
    background-size: cover;
    height: 900px;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  @include block(content) {
    @include xy-grid(vertical);
    @include flex-align(center, middle);
    height: 100%;

    @include breakpoint(medium down) {
      @include flex-align(center, top);
    }

    @include block(title) {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      color: #fafcff;
      @include breakpoint(large up) {
        text-align: center;
        max-width: 900px;
      }
      @include breakpoint(small down) {
        font-size: 24px;
      }
    }

    @include block(buttons) {
      margin-top: 2em;
      @include breakpoint(medium up) {
        display: grid;
        grid-template-columns: 220px 220px;
      }

      @include breakpoint(medium down) {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
      }

      column-gap: 10px;
      > a {
        border-radius: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        height: 60px;
        line-height: 60px;
      }

      @include block(github) {
        background-color: #000000;
        border: 1px solid #fff;
        color: white;

        > img {
          width: 47px;
          height: 47px;
          margin-right: 5px;
        }
      }

      @include block(charge) {
        background-color: #00ffc2;
        color: black;

        &:hover {
          background-color: #00d09e;
        }
      }
    }

    @include block(boxs) {
      margin-top: 4em;
      display: grid;
      column-gap: 10px;

      @include breakpoint(medium up) {
        grid-template-columns: repeat(3, auto);
      }

      // @include breakpoint(medium down) {
      //   width: 100%;
      // }

      @include block(item) {
        @include xy-grid();
        @include flex-align(null, middle);
        background-color: rgba(92, 199, 255, 0.25);
        border-radius: 8.71495px;
        padding: 0.4em 15px;
        column-gap: 10px;

        @include breakpoint(medium down) {
          &:not(:last-child) {
            margin-bottom: 1em;
          }
        }
        @include block(text) {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          color: #ffffff;
        }

        @include block(icon) {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
