@include block(section_7) {
  background-color: #011833;
  padding: 10em 0px;
  width: 100%;

  @include breakpoint(small down) {
    padding: 5em 0px;
  }

  @include element(title) {
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: white;
    margin-bottom: 0.3em;

    @include breakpoint(small down) {
      font-size: 2em;
      max-width: 80%;
      margin: auto auto 0.5em;
    }
  }
  @include element(swiper) {
    .swiper-container {
      padding-left: 20px;
    }

    @include block(swiper_item) {
      background-color: white;
      height: 350px;
      border-radius: 8px;
      padding: 1em;
      display: grid;

      @include breakpoint(medium up) {
        grid-template-columns: 60% 40%;
      }

      @include block(image) {
        position: relative;

        @include breakpoint(small down) {
          display: none;
        }

        > img {
          position: absolute;
        }
      }

      @include block(content) {
        @include xy-grid(vertical, false);
        @include flex-align(justify, top);

        @include element(title) {
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          color: #000000;
        }

        @include element(description) {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;

          display: flex;
          align-items: center;

          color: #000000;
        }

        @include element(button) {
          width: 240px;
          margin-top: 2em;
          padding: 1.125em 1.75em;
          font-size: 1em;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.01px;
          text-align: center;
          color: white;
          border-radius: 10px;
          background-color: #011833;

          $border: 2px;
          border: solid $border #011833;

          position: relative;
          &:hover {
            border: solid $border transparent;
            background-color: #00ffc2;
            color: $color-dark;
          }
        }
      }
    }
  }
}
