@include block(section_2) {
  @include xy-grid-container();
  padding: 5em 0px 8em;
  @include element(title) {
    @extend %title;
    padding: 2em 0;
  }

  @include breakpoint(medium down) {
    padding: 20px;
  }

  @include element(items) {
    @include breakpoint(medium up) {
      @include xy-grid();
      @include flex-align(justify, middle);
    }

    @include breakpoint(medium down) {
      @include xy-grid(vertical, false);
      @include flex-align(justify, middle);
    }

    @include block(item) {
      @include breakpoint(medium up) {
        @include xy-cell(7, null, 0);
      }

      @include breakpoint(medium down) {
        @include xy-cell(24, null, 0);
        @include xy-grid(vertical, false);
        // @include flex-align(justify, middle);

        &:not(:last-child) {
          margin-bottom: 5em;
        }
      }
      @include element(image) {
        width: 216px;
        height: 216px;
        margin-bottom: 2em;

        @include breakpoint(medium down) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      @include element(text) {
        @extend %text;

        > span {
          font-weight: 500;
          color: $color-black;
        }
      }

      @include element(title) {
        > img {
          width: 22px;
          height: 45px;
        }

        > h4 {
          @extend %secondary-title;
          margin-left: 0.5em;
        }
      }
    }
  }
}

@include block(info_banner) {
  width: 100%;
  background-color: #0a2540;
  @include breakpoint(medium up) {
    padding: 23px 550px 10px 507px;
    height: 66px;
  }
  @include breakpoint(medium down) {
    padding: 20px;
  }
  @include element(items) {
    @include breakpoint(medium up) {
      @include xy-grid();
      @include flex-align(center, middle);
      // @include xy-cell(8, null, 0);
    }

    @include breakpoint(medium down) {
      @include xy-cell(24, null, 0);
      @include xy-grid(vertical);
      @include flex-align(center, middle);
    }
    @include block(item) {
      @include breakpoint(medium up) {
        @include xy-grid();
        @include flex-align(center, middle);
        @include xy-cell(8, null, 0);
        &:not(:first-child):not(:last-child) {
          border-left: 1px solid white;
          border-right: 1px solid white;
        }
      }

      @include breakpoint(medium down) {
        &:not(:first-child):not(:last-child) {
          padding: 1em 0;
          // &::before {
          //   position: absolute;
          //   content: "";
          //   text-align: center;
          //   padding: .5em;
          //   border-top: 1px solid white;
          //   border-bottom: 1px solid white;
          // }

          // border-top: 1px solid white;
          // border-bottom: 1px solid white;
        }
      }

      > img {
        width: 15px;
        height: 15px;
      }

      @include block(title) {
        font-size: 1.231em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.01px;
        color: $color-white;

        > span {
          font-weight: bold;
        }
      }
    }
  }
}
