@include block(section_6) {
  @include xy-grid-container();
  @include xy-grid(vertical);
  @include flex-align(center, middle);

  @include breakpoint(medium up) {
    height: 900px;
  }

  @include element(wrapper) {
    @include breakpoint(medium down) {
      padding: 5em 0px;
    }
    background-color: #011833;
    @include xy-grid(vertical);
    @include flex-align(center, middle);
  }

  @include element(title) {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: white;
    @include breakpoint(medium up) {
      text-align: center;
    }

    @include breakpoint(medium down) {
      font-size: 32px;
    }
  }

  @include element(text) {
    font-size: 18px;
    margin: 1em 0px;
    max-width: 570px;
    color: white;

    @include breakpoint(medium up) {
      text-align: center;
    }

    @include breakpoint(medium down) {
      font-size: 16px;
    }
  }

  @include element(boxs) {
    margin-top: 3em;
    display: grid;
    @include breakpoint(medium up) {
      grid-template-columns: repeat(3, 368px);
      column-gap: 20px;
    }

    @include block(item) {
      background: rgba(92, 199, 255, 0.25);
      border-radius: 8px;
      padding: 20px;
      display: grid;
      align-content: start;
      justify-content: start;

      @include breakpoint(medium down) {
        &:not(:last-child) {
          margin-bottom: 2em;
        }
      }

      @include block(title) {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #ffffff;
      }

      @include block(text) {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
        padding: 0.5em 0px;

        @include breakpoint(medium down) {
          font-size: 14px;
        }
      }

      @include block(links) {
        display: grid;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #54a8ff;

        @include breakpoint(medium down) {
          font-size: 14px;
        }
        > a {
          &::after {
            content: "";
            background-image: url(images/blue.png);
            background-repeat: no-repeat;
            background-position: left center;
            height: 11px;
            display: inline-block;
            padding-left: 16px;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: transform 0.3s ease-out;
            -ms-transition: transform 0.3s ease-out;
            -o-transition: transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
          }

          &:hover {

            &::after {
              -webkit-transform: translateX(4px);
              -moz-transform: translateX(4px);
              -ms-transform: translateX(4px);
              -o-transform: translateX(4px);
              transform: translateX(4px);
            }
          }
        }
        > a:not(:last-child) {
          margin-bottom: 0.5em;
        }
      }
    }
  }
}
