@font-face {
  font-family: "Avenir";
  src: url("../files/AvenirRegular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../files/AvenirHeavy.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../files/AvenirLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Avenir";
  src: url("../files/AvenirBook.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../files/AvenirBlack.ttf") format("truetype");
  font-weight: 900;
}
