@import "resets/resets";

@import "config/config";

/*-------Helpers----------*/
@import "foundation/foundation";
@import "foundation/utils";
@import "placeholders/placeholders";
@import '../../node_modules/swiper/swiper-bundle.css';
@import "components/components";

#root {
  position: relative;
  display: block;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
