@include block(network_main) {
	position: relative;
	border-bottom: 2px solid #031928;
	background-color: #031928;
	padding-top: 6em;

	@include breakpoint(large) {
		border-bottom: 2px solid #031928;
		background-color: #031928;
		height: 91vh;
	}

	@include breakpoint(small only) {
		min-height: 50vh;
		background-color: #001828;
	}

	@include breakpoint(large down) {
		@include xy-grid();
	}

	@include element(wrapper) {
		@include breakpoint(large up) {
			position: absolute;
			left: 50%;
			width: 90%;
			height: 95%;
			@include xy-grid-container();

			> div {
				position: relative;
				left: -50%;
				height: 100%;
			}
		}

		@include breakpoint(large down) {
			order: 2;
			padding: 1em 20px;
		}
	}

	@include block(lottie) {
		@include breakpoint(large up) {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		@include breakpoint(1263px) {
			> svg {
				width: 120% !important;
				height: 120% !important;
				transform: translate3d(-180px, -50px, 0) !important;
			}
		}

		@include breakpoint(xxlarge up) {
			> svg {
				width: 100% !important;
				height: 100% !important;
				transform: translate3d(0px, 0px, 0px) !important;
			}
		}

		@include breakpoint(large down) {
			order: 3;
			min-height: 390px;
		}
	}

	@include element(top) {
		@include breakpoint(large up) {
			position: absolute;
			top: 5em;
			left: 0;
			z-index: 1;
		}

		@include breakpoint(large down) {
			margin-bottom: 1.5em;
		}
	}

	@include element(bottom) {
		@include breakpoint(large up) {
			position: absolute;
			bottom: 90px;
			right: 0;
			z-index: 1;
		}
	}

	@include block(title) {
		font-size: 2.5em;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 0.03px;
		color: #ffffff;

		@include breakpoint(large up) {
			text-shadow: 0 0 10px rgba(255, 255, 255, 0.57);
		}
		@include breakpoint(large down) {
			font-size: 1.8em;
			margin-bottom: 0.5em;
		}
	}
	@include block(text) {
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 0.01px;
		@include breakpoint(large up) {
			font-size: 1.125em;
			color: #ffffff;
			@include modifier(dark) {
				color: #8ea6b8;
			}
		}

		@include breakpoint(large down) {
			font-size: 0.988em;
			color: #eaeaea;
		}

	}
}

@include block(network_in_numbers) {
	padding: 8em 0;
	@include breakpoint(medium down) {
		padding: 6em 0;
	}
	@include element(content) {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;

		@include block(items) {
			flex-flow: row nowrap;
			@include breakpoint(large up) {
				@include xy-grid(horizontal, false);
			}

			@include breakpoint(medium down) {
				@include xy-grid(vertical);
				@include flex-align(null, middle);
			}
			@include block(line) {
				border: 1px solid #dfdfdf;
				width: 1px;
				height: 154px;
				@include breakpoint(medium down) {
					border: 1px solid #dfdfdf;
					width: 217px;
					height: 2px;
					margin: 3em 0;
				}
			}
			@include block(item) {
				position: relative;
				max-height: 155px;

				@include xy-grid(vertical);
				@include breakpoint(large up) {
					@include xy-cell(6);
					@include flex-align(spaced, null);
				}

				@include breakpoint(medium down) {
					@include flex-align(null, middle);
				}

				@include block(up_to) {
					font-size: 0.875em;
					line-height: 2.07;
					letter-spacing: 0.01px;
					text-align: center;
					color: #4587a3;

					position: absolute;
					left: 50%;
					top: -2em;

					> div {
						position: relative;
						left: -50%;
					}
				}

				@include block(bottom_link) {
					font-size: 0.875em;
					line-height: 2.07;
					letter-spacing: 0.01px;
					text-align: center;
					color: #4587a3;

					position: absolute;
					left: 50%;
					bottom: -2em;

					> div {
						> img {
							margin-left: 0.5em;
						}

						position: relative;
						left: -50%;
						white-space: nowrap;

						> a {
							&:hover {
								text-decoration: underline;
								cursor: pointer;
							}
						}
					}
				}

				@include block(title) {
					font-size: 1.5em;
					font-weight: bold;
					line-height: 1.21;
					text-align: center;
					color: #4587a3;
				}

				@include block(number) {
					font-size: 2.5em;
					font-weight: bold;
					text-align: center;
					color: #5d9cb5;

					@include breakpoint(medium down) {
						margin-bottom: 1em;
					}
				}
			}
		}
	}
}

@include block(participates) {
	background-color: #133246;
	padding: 4em 0;

	@include element(wrapper) {
		width: 80%;
		margin: auto;
		@include breakpoint(medium down) {
			width: 100%;
		}
	}

	@include block(title) {
		font-size: 1.875em;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 0.03px;
		text-align: center;
		color: #ffffff;
		margin: 0 0 1.6em;
	}

	@include element(item) {
		border-radius: 10px;
		background-color: #f5fdff;
		padding: 2em 2em;

		@include breakpoint(medium up) {
			@include xy-grid(horizontal);
		}

		@include xy-cell();
		@include flex-align(justify, middle);
		@include breakpoint(large) {
		}
		@include breakpoint(medium down) {
			@include xy-grid(vertical);
		}

		&:not(:last-child) {
			margin-bottom: 2em;
		}

		@include block(image) {
			@include xy-cell(6);

			@include breakpoint(small only) {
				@include xy-cell(24);
			}
		}

		@include block(content) {
			@include xy-grid(vertical);
			@include xy-cell(16);
			@include flex-align(null, null);

			@include breakpoint(small only) {
				@include xy-cell(24);
			}
		}

		@include block(small) {
			text-align: center;
			font-size: 0.875em;
			letter-spacing: 0.01px;
			color: #9b9b9b;
		}

		@include element(title) {
			font-size: 1.5em;
			font-weight: bold;
			letter-spacing: 0.01px;
			text-align: center;
			color: #4a687b;
			margin-bottom: 0.5em;
		}

		@include block(text) {
			font-size: 1.125em;
			letter-spacing: 0.01px;
			color: #868686;
		}

		@include block(links) {
			margin-top: 1.5em;
		}
		@include block(link) {
			font-size: 1.125em;
			font-weight: 500;
			letter-spacing: 0.01px;
			text-align: center;
			color: $color-dark;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}

			> img {
				margin-left: 0.3em;
			}

			&:not(:first-child) {
				margin-left: 1em;
			}
		}
	}
}
