@include block(newsletter) {
  @include element(form) {
    position: relative;
    @include xy-grid(horizontal, false);

    @include breakpoint(medium down) {
      @include flex-align(justify, middle);
    }

    @include block(title) {
      position: absolute;
      top: -1.5em;
      font-weight: 500;

      @include breakpoint(small only) {
        display: none;
      }
    }

    @include element(input) {
      max-width: 256px;
      height: 54px;
      border-radius: 10px;
      border: solid 1px rgba(151, 151, 151, 0.35);
      background-color: #ffffff;
      color: #052235;
      padding: 1.1875em 0.625em;
      width: 100%;

      @include breakpoint(medium down) {
        width: 80%;
      }

      &:focus {
        border: 1.5px solid #ccd9e0;
      }

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }

    @include element(button) {
      font-weight: 500;
      background: linear-gradient(124.98deg, #b3ffbb 6.71%, #fffb00 90%);
      width: 97px;
      height: 54px;
      border-radius: 100px;
      margin-left: 1em;

      @include breakpoint(small only) {
        margin-top: 0;
        margin-left: 0;
      }

      &:hover {
        background-image: unset;
        background-color: #f8ff00;

        &::after {
          -webkit-transform: translateX(4px);
          -moz-transform: translateX(4px);
          -ms-transform: translateX(4px);
          -o-transform: translateX(4px);
          transform: translateX(4px);
        }
      }

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }

    @include element(mobile-error) {
      color: red;
      display: none;

      @include breakpoint(small only) {
        display: block;
      }
    }

    @include element(error) {
      position: absolute;
      bottom: -1.5em;
      color: red;

      @include breakpoint(small only) {
        display: none;
      }
    }
  }
}
