@include block(ecosystem_main) {
	margin-bottom: 118px;
	@include element(wrapper) {
		background-color: #071927;
	}
	@include element(arrow-wrapper) {
		display: flex;
		justify-content: center;
	}
	@include element(img) {
		margin-right: -69px;
	}
	column-gap: 0.5rem;
	@include breakpoint(medium up) {
		margin-top: 5rem;
		@include xy-grid();
		@include flex-align(center, middle);
	}
	@include breakpoint(medium down) {
		@include xy-grid(vertical);
		@include flex-align(justify, middle);
	}

	@include element(container) {
		@include xy-grid-container(1280px);
		@include breakpoint(large down) {
			@include xy-grid-container(90%);
		}
		width: 100%;
	}
	@include element(wrapper) {
		@include xy-grid();
		@include flex-align(center, middle);
		@include breakpoint(medium up) {
			min-height: 887px;
		}
		@include breakpoint(medium down) {
			padding-top: 2.5rem;
		}
	}

	@include element(hero_text) {
		margin-right: 48px;
		@include breakpoint(medium up) {
			flex: 1;
			display: flex;
			flex-flow: column wrap;
		}
		@include breakpoint(medium down) {
			justify-content: flex-start;
			min-height: auto;
			@include xy-cell(24, null, 0);
		}
	}
	@include element(title) {
		font-size: clamp(2.5rem, calc(6.7vw - 3.5rem), 4.5rem);
		font-weight: 700;
		color: white;
		line-height: 1;
		margin-bottom: 1.125rem;
		@include breakpoint(large down) {
			font-size: 2.5em;
		}
		@include breakpoint(medium down) {
			font-size: 2.313em;
			margin-bottom: 0.4em;
		}
	}

	@include element(button) {
		width: fit-content;
	}

	@include element(description) {
		font-size: clamp(1em, calc(1.7vw - 0.5rem), 1.5em);
		font-weight: 350;
		line-height: 1.4;
		padding-right: 3rem;

		color: white;
		@include breakpoint(large down) {
			font-size: 1em;
		}
		@include breakpoint(small only) {
			font-size: 1.125em;
		}
	}

	@include element(img) {
		@include breakpoint(medium down) {
			@include xy-cell(20, null, 0);
		}
	}
}

@include block(ecosystem_section_2) {
	@include element(container) {
		background-color: #071927;
		@include xy-grid-container(1280px);
		margin-top: 6.3125rem;
		margin-bottom: 7.6875rem;
	}
	@include element(header) {
		@include xy-grid(horizontal, null);
		@include flex-align(right, middle);
		@include breakpoint(small only) {
			@include xy-grid(vertical, null);
			@include flex-align(center, middle);
			row-gap: 1rem;
		}
	}
	@include element(last_update) {
		font-size: clamp(1em, 2vw, 2.0625em);
		line-height: 1.2;
		margin-right: 1rem;
		flex: 1 0 auto;
		color: #fff;
		margin-bottom: 2rem;
		span {
			margin-left: 1rem;
			font-weight: 700;
		}
		@include breakpoint(medium down) {
			margin-top: 1rem;
			text-align: right;
		}
	}
	@include element(search) {
		border: 1px solid #ccd9e0;
		border-radius: 10px;
		min-height: 54px;
		max-width: 390px;
		width: 100%;
		position: relative;
		background-color: #194675;
		color: #fff;
		@include xy-grid();
		@include flex-align(justify, middle);
		input {
			border: none;
			height: 100%;
			flex: 1;
			padding-left: 3.6875rem;
			z-index: 1;
			background-color: transparent;
			&::placeholder {
				color: #fff;
			}
		}
		@include element(icon) {
			pointer-events: none;
			@include element(wrapper) {
				height: 100%;
				@include xy-grid();
				@include flex-align(justify, middle);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 1.625rem;
			}
		}
	}
	@include element(content_container) {
		@include xy-grid(horizontal, null);
		@include flex-align(justify, top);
		column-gap: clamp(1rem, 0.5vw, 1.2rem);
		@include breakpoint(small only) {
			@include xy-grid(vertical);
			row-gap: 1rem;
		}
	}
	@include element(tags) {
		@include xy-grid(vertical);
		@include flex-align(left, top);
		row-gap: 0.625rem;
		@include breakpoint(small only) {
			@include xy-grid(horizontal);
			row-gap: 0.5rem;
		}
		@include element(title) {
			font-weight: bold;
			font-size: 30px;
			line-height: 140%;
			color: #ffffff;
			margin-bottom: 2.5rem;
			@include breakpoint(small only) {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		}
		@include element(tag) {
			background: #194675;
			box-sizing: border-box;
			border-radius: 5px;
			padding: 0.5rem clamp(1rem, 0.5vw, 1.5rem);
			color: white;
			font-size: clamp(1rem, 1.1vw, 1.25rem);
			line-height: 1.4;
			font-weight: 400;
			width: 100%;
			cursor: pointer;
			text-transform: capitalize;
			span {
				color: #fff;
				margin-left: 1ch;
			}
			@include breakpoint(medium down) {
				width: fit-content;
				margin-right: 5px;
			}
			@include modifier(selected) {
				background-color: rgb(20, 241, 149);
				color: #000;
				span {
					color: #000;
				}
			}
		}
	}
	@include element(cards) {
		display: grid;
		grid-gap: 2.1875rem clamp(1rem, 2.5vw, 2rem);
		grid-template-columns: repeat(3, minmax(250px, 1fr));
		grid-auto-columns: 1fr;

		@include breakpoint(medium down) {
			grid-template-columns: 1fr 1fr;
		}
		@include breakpoint(small only) {
			grid-template-columns: 1fr;
		}

		@include element(wrapper) {
			max-width: 1274px;
			flex: 1;
		}
	}
	@include element(card) {
		@include xy-grid(vertical, null);
		@include flex-align(center, middle);
		padding: 1rem 2rem;
		background: #f6f7fb;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
		border-radius: 12px;
		height: 100%;
		@include element(logo) {
			align-self: flex-start;
			img {
				max-height: 50px;
				max-width: 170px;
			}
		}
		@include element(content_wrapper) {
			@include xy-grid(vertical);
			@include flex-align(justify, top);
			height: 100%;
		}
		@include element(icons) {
			gap: 4px;
			display: flex;
			margin-top: 1.25rem;
		}
		@include element(logo) {
		}
		@include element(description) {
			margin-top: 1.5rem;
			color: #737373;
			text-align: left;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		@include element(tags) {
			@include xy-grid();
			@include flex-align(flex-start, middle);
			gap: 0.5rem;
			margin-top: 1rem;
			flex: 1;
			@include breakpoint(medium down) {
				align-self: flex-start;
			}
			@include element(wrapper) {
				@include xy-grid();
				@include flex-align(right, bottom);
				flex-wrap: wrap;
				width: 100%;
				row-gap: 0.5rem;
				@include breakpoint(medium down) {
					flex-direction: column;
				}
			}
		}
		@include element(learn_more) {
			text-align: right;
			white-space: nowrap;
			@include breakpoint(medium down) {
				margin-top: 1rem;
			}
			&:hover {
				text-decoration: underline;
			}
			img {
				margin-left: 4px;
			}
		}
		@include element(tag) {
			border-radius: 20px;
			color: white;
			font-weight: 400;
			padding: 2px 14px;
			background: #c4c4c4;
			border-radius: 5px;
			white-space: nowrap;
		}
	}
}
