@include block(nav) {
  margin: auto;

  @include element(list) {
    list-style: none;

    @include breakpoint(medium up) {
      @include xy-grid();
      @include flex-align(justify, middle);
    }
    @include breakpoint(medium down) {
      @include xy-grid(vertical);
      @include flex-align(center, middle);
    }
  }

  @include element(item) {
    position: relative;

    @include block(arrow) {
      transition: all 0.5s ease;

      @include modifier(open) {
        transform: rotate(180deg)
      }
    }

    @include block(text) {
      background: transparent;
      border: 0;
      font-family: inherit;
      font-size: 15px;
      padding: 1em;
      color: #083549;
      display: flex;
      justify-content: center;
      transition: opacity 250ms;
      cursor: pointer;
      position: relative;
      z-index: 2;
      font-weight: 500;
      &:hover,
      &:focus {
        outline: none;
      }

      @include modifier(white) {
        color: white;
      }
    }
    @include block(dropdown_slot) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      perspective: 1500px;
    }
  }
}

@include block(community_dropdown) {
  width: 38.9375rem;
  padding: 1em;
  max-width: 623px;

  > div:first-child {
    position: relative;
    z-index: 1;
  }

  @include block(list) {
    @include block(item) {
      padding: 1.1em;

      @include element(wrapper) {
        @include xy-grid(horizontal, false);
        @include flex-align(center, middle);
      }

      @include block(content) {
        color: #083549;
        font-weight: 500;
        font-size: 15px;
        margin-left: 1em;
        @include xy-grid(vertical, false);
        @include flex-align(spaced);

        position: relative;
        cursor: pointer;
        transition: 0.5s;
        transition: all 0.5s;

        &:after {
          content: url(/images/drop_arrow.svg);
          position: absolute;
          width: 8px;
          height: 9px;
          opacity: 0;
          top: 0px;
          right: 0px;
          transition: 0.5s;
        }

        &:hover:after {
          opacity: 1;
          right: -20px;
        }
      }

      @include block(sub_title) {
        font-size: 11px;
        color: #7a7a7a;
        white-space: nowrap;
      }

      &:hover,
      &:focus {
        cursor: pointer;
        .sub_title {
          color: #083549;
        }
      }
      img {
        width: 37px;
        height: 37px;
      }
    }
  }
}
